.container {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  background: #ff7b08;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.previewImage {
  height: 500px;
  width: 500px;
  border-radius: 0px;
  border: 1px solid var(--border-color);
  padding: 8px;
}

.mintInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
  min-height: 720px;
  max-width: 95vw;
  gap: 2%;
  border: 2px solid var(--border-color);
  border-radius: 0px;
}

.infoSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 100%;
}

.description {
  font-size: 1.5rem;
  border-color: white;
}

.imageSide {
  width: 50%;
  height: 75%;
  margin-top: 6px;
}

.image {
  width: 85%;
  border-radius: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  background: #ff7b08;
  border: 2px solid var(--border-color);
  font-size: 1.5rem;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 5px;

}

.mainButton:hover {
  opacity: 0.8;
}

.mintCompletionArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mintAreaLeft {
  margin-left: 5%;
  opacity: 0.75;
}

.mintAreaRight {
  margin-right: 5%;
  opacity: 0.75;
}

.spacerTop {
  margin-top: 16px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.buttonGapTop {
  cursor: pointer;
  margin-top: 32px;
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.textInput {
  width: 48px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
}

.quantityControlButton {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid grey;
  color: #fff;
}

.quantityControlButton:disabled {
  opacity: 0.25;
}

/* On mobile, make the .mintInfoContainer stack vertically */
@media screen and (max-width: 850px) {
  .mintInfoContainer {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .infoSide {
    width: 100%;
  }

  .imageSide {
    width: 100%;
  }
}
